*{
    margin:0;
    padding:0;
    border-radius:0;
    font-family:"Microsoft YaHei";
}

a{
    text-decoration:none;
}

li{
    list-style-type:none;
    text-decoration:none;
}

.clearfix{
    display:block;
}

.clearfix::before,
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

body{
    height:100%;
}

header{
    width:100%;
    height:82px;
    background-color:rgb(51, 51, 51);
}

.header-container{
    width:1200px;
    height:82px;
    margin:0 auto;
    display:flex;
    align-items:center;
    padding-right:0;
}

.lewan{
    display:flex;
    width:183px;
    height:28px;
    margin-right:32px;
    color:#fff;
    align-items:center;
    font-size:20px;
}

.lewan > i{
    margin-right:6px;
    font-size:30px;
}

.gelixian{
    background-color:rgb(121, 121, 121);
    height:20px;
    width:2px;
    margin:0 8px;
}

.leader-list{
    display:flex;
    font-size:18px;
}

.leader-list li{
    overflow:hidden;
}

.leader-list a{
    color:rgb(204,204,204);
    display:block;
    padding:0 22px;
    line-height:82px;
}

.leader-list a:hover{
    background-color:rgb(72,72,72);
}

.search{
    display:flex;
    height:82px;
    align-items:center;
    margin-left:auto;
    margin-right:0;
    position:relative;
    outline:none;
}

.search > .search-container{
    border:none;
    height:32px;
    width:274px;
    display:flex;
    box-sizing:border-box;
}

.search > .search-container > input{
    height:100%;
    outline:none;
    box-sizing:border-box;
    border:1px solid rgba(241, 64, 43, 0.5);
    padding:0 12px;
    width:208px;
    background-color:rgb(51, 51, 51);
    color:rgb(117,117,117);
}

.search-picture{
    background-color:rgba(241, 64, 43, 0.5);
    line-height:32px;
    width:41px;
    text-align:center;
    color:rgba(255,255,255,0.7);
    box-sizing:border-box;
}

.search > .search-container > input:focus{
    border-color: rgb(184,60,45);
}

.search > .search-container > input:focus + .search-picture{
    border-color: rgb(184,60,45);
    background-color:rgb(184,60,45);
}

.search-list{
    font-size:10px;
    background-color:rgba(51,51,51,0.9);
    height:284px;
    width:232px;
    position:absolute;
    top:57px;
    visibility:hidden;
    z-index:999;
}

.search > .search-container > .search-list h3{
    margin:18px 0 12px 12px;
}

.search > .search-container > .search-list > ul > li > a{
    display:flex;
    align-items:center;
    padding:4px 0;
}

.search > .search-container > .search-list > ul > li > a:hover{
    background-color:rgba(120,120,120,0.9);
}

.search > .search-container > .search-list .first-span{
    line-height:14.4px;
    width:14.4px;
    border-radius:3px;
    margin-left:12px;
    font-size:12px;
    background-color:rgb(254,45,70);
    color:#fff;
    text-align:center;
}

.search > .search-container > .search-list .second-span{
    line-height:14.4px;
    width:14.4px;
    border-radius:3px;
    margin-left:12px;
    font-size:12px;
    background-color:rgb(255,127,73);
    color:#fff;
    text-align:center;
}

.search > .search-container > .search-list .third-span{
    line-height:14.4px;
    width:14.4px;
    border-radius:3px;
    margin-left:12px;
    font-size:12px;
    background-color:rgb(255,170,59);
    color:#fff;
    text-align:center;
}

.search > .search-container > .search-list .fourth-span{
    line-height:14.4px;
    width:14.4px;
    border-radius:3px;
    margin-left:12px;
    font-size:12px;
    background-color:rgb(246,246,246);
    color:rgb(161,161,161);
    text-align:center;
}

.search > .search-container > .search-list .text-container{
    font-size:13px;
}

.search > .search-container > .search-list h3,
.search > .search-container > .search-list .game-type{
    color:rgb(185,185,185);
}

.search > .search-container > .search-list .game-name{
    color:#fff;
}

.search > .search-container > input:focus ~ .search-list{
    visibility:visible;
}

.search > .search-container > .search-list .img-container{
    width:36px;
    height:50px;
    overflow:hidden;
    box-sizing:border-box;
    margin:0 5px;
}

.search > .search-container > .search-list .img-container > img{
    width:100%;
}

.fourth-span + div.img-container{
    height:36px;
    margin-top:4px;
    border-radius:4px;
}

.search > .search-container > .search-list .img-container > img:hover{
    transition:0.5s;
    transform:scale(1.2);
}

.administer{
    display:flex;
    align-items:center;
    margin-right:0;
}

.ling-container{
    width:26px;
    height:26px;
    margin:0 33px;
    position:relative;
}

.ling-container:hover .ling-list{
    visibility:visible;
}

.ling{
    height:100%;
    margin-left:-52px;
}

.ling-img{
    height:26px;
    overflow:hidden; 
}

.ling:hover{
    margin-left:-78px;
}

.ling-list::before{
    content:"";
    border:7px solid transparent;
    position:absolute;
    top:-14px;
    left:325px;
    border-bottom-color:rgb(68,68,68);
    color:#cccccc;
    z-index:999;
}

.ling-list{
    height:582px;
    width:414px;
    background-color:rgb(51,51,51);
    border:1px solid rgb(68,68,68);
    border-radius:4px;
    color:rgb(127,127,127);
    position:absolute;
    left:-320px;
    top:40px;
    visibility:hidden;
    z-index:999;
}

.ling-list::after{
    content:"";
    border:7px solid transparent;
    position:absolute;
    top:-13px;
    left:325px;
    border-bottom-color:rgb(51, 51, 51);
    z-index:9999;
}

.message-list{
    display:flex;
    justify-content:space-around;
    height:88px;
    width:352px;
    margin:0 auto;
    align-items:center;
    z-index:999;
}

.message-list a{
    display:block;
    color:rgb(127,127,127);
    font-size:16px;
    padding:0 20px;
}

.message-list a:hover{
    color:#F14027;
    font-weight:900;
}

.ling-list div.message-content{
    width:357px;
    height:494px;
    padding:0 28px 0 28px;
    margin:0;
}

.message-content img{
    width:132px;
    position:absolute;
    top:35%;
    left:35%;
}

.message-content span{
    text-align:center;
    position:absolute;
    top:60%;
    left:40%;
}

.touxiang-container{
    height:32px;
    position:relative;
}

.touxiang-container:hover .my-list{
    visibility:visible;
}

.touxiang{
    height:100%;
    border-radius:50%;
    overflow:hidden;
}

.my-list::before{
    content:"";
    border:4px solid transparent;
    position:absolute;
    top:-8px;
    left:63px;
    border-bottom-color:rgb(68,68,68);
    color:#cccccc;
    z-index:999;
}

.my-list{
    height:202px;
    width:140px;
    position:absolute;
    top:40px;
    left:-52px;
    background-color:rgb(51,51,51);
    border:1px solid rgb(68,68,68);
    border-radius:4px;
    padding:12px 14px 5px 14px;
    box-sizing:border-box;
    z-index:999;
    visibility:hidden;
}

.my-list::after{
    content:"";
    border:4px solid transparent;
    position:absolute;
    top:-7px;
    left:63px;
    border-bottom-color:rgb(51, 51, 51);
    z-index:9999;
}

.my-list-content li{
    height:16px;
    width:110px;
    margin:0 auto;
}

.my-list-content li:not(:last-child){
    padding-bottom:15px;
}

.my-list-content a{
    display:flex;
    width:110px;
    height:16px;
    text-align:center;
    font-size:12px;
    color:#cccccc;
    align-items:center;
}

.my-list-content a:hover,.my-list-content a:hover i::before{
    color:#fff;
}

.my-list-content i::before{
    margin:0 15px;
    height:12px;
    width:14px;
    display:block;
    color:rgb(153,153,153);
}

.my-list-content li:last-child{
    display:flex;
    justify-content:space-around;
    border-top:1px solid rgb(68,68,68);
}

.my-list-content li:last-child span{
    color:#999;
    font-size:12px;
    margin:11px auto 1px auto;
}

.my-list-content li:last-child span:hover{
    color:#fff;
}

main{
    height:480px;
    width:100%;
    overflow:hidden;
}

main > div{
    height:480px;
    width:1200px;
    min-width:1200px;
    margin:0 auto;
    box-sizing:border-box;
    position:relative;
}

main > div > div.scroll-picture{
    height:100%;
    width:100%;
    transform-style:preserve-3d;
    animation:bg-img 90s linear infinite;
}

main > div > div.scroll-picture > div{
    height:480px;
    width:960px;
    max-width:960px;
    overflow:hidden; 
    position:absolute;
    top:0;
    left:calc(50% - 426.5px);
    z-index:1;
}

main > div > div.scroll-picture > div.first-img{
    transform:rotateY(0deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.second-img{
    transform:rotateY(-20deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.third-img{
    transform:rotateY(-40deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.fourth-img{
    transform:rotateY(-60deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.fifth-img{
    transform:rotateY(-80deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.sixth-img{
    transform:rotateY(-100deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.seventh-img{
    transform:rotateY(-120deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.eighth-img{
    transform:rotateY(-140deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.ninth-img{
    transform:rotateY(-160deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.tenth-img{
    transform:rotateY(-180deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.eleven-img{
    transform:rotateY(-200deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.twelve-img{
    transform:rotateY(-220deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.thirteen-img{
    transform:rotateY(-240deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.fourteen-img{
    transform:rotateY(-260deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.fifteen-img{
    transform:rotateY(-280deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.sixteen-img{
    transform:rotateY(-300deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.seventeen-img{
    transform:rotateY(-320deg) translateZ(2722px);
}

main > div > div.scroll-picture > div.eighteen-img{
    transform:rotateY(-340deg) translateZ(2722px);
}

main > div > div.scroll-picture > div > img{
    height:100%;
    width:960px;
}

@keyframes bg-img{
    from{
        transform:rotateY(0);
    }
    to{
        transform:rotateY(360deg);
    }
}

main > div > .logo-container{
    width:130px;
    height:172px;
    position:absolute;
    top:265px;
    left:0;
    z-index:99;
}

main > div > .logo-container img{
    width:100%;
}


main > div > .intro-keywords{
    height:122px;
    position:absolute;
    top:300px;
    left:155px;
    z-index:99;
}

main > div > .intro-keywords > div{
    display:flex;
}

main > div > .intro-keywords > div > span{
    color:#fff;
    font-size:28px;
    font-weight:700;
}

main > div > .intro-keywords > div > div.vip-img{
    height:24px;
    width:27px;
    margin-left:10px;
    margin-right:6px;
    z-index:999;
}

main > div > .intro-keywords > div > div.vip-img img{
    width:100%;
}

main > div > .intro-keywords > div div{
    height:18px;
    font-size:16px;
    color:#ffebb9;
    margin-top:6px;
}

main > div > .intro-keywords > div > div:last-child{
    padding-left:20px;
    padding-right:60px;
    padding-bottom:2px;
    margin-left:-20px;
    display:inline-block;
    margin-top:8px;
    background-image:linear-gradient(to right,rgba(0,0,0,0.9),transparent);
    z-index:99;
}

main > div > .intro-keywords > p{
    font-size:16px;
    color:#fff;
}

main > div > .intro-keywords > ul{
    height:29px;
    width:527px;
    display:flex;
    align-items:center;
    margin:10px 0 13px 0;
}

main > div > .intro-keywords > ul > li > a{
    display:inline-block;
    line-height:29px;
    font-size:14px;
    color:rgba(255, 255, 255, .4);
    box-sizing:border-box;
    border:1px solid rgba(102, 102, 102, .7);
    border-radius:3px;
    background-color:rgba(30, 30, 30, .3);
    margin-right:10px;
    padding:0 19px;
}

main > div > .intro-keywords > ul > li > a:hover{
    background-color:rgba(240,240,240,0.2);
    color:#fff;
}

main > div > .intro-keywords > ul > li > a > i{
    margin-left:7.2px;
}

main > div > .intro-keywords > div:last-child{
    font-size:19px;
    line-height:24px;
    color:rgba(240,240,240,0.8);
}

.fa-quote-left{
    margin-right:14px;
    color:rgba(140,140,140,0.8);
}

.fa-quote-right{
    margin-left:14px;
    color:rgba(140,140,140,0.8);
}

main > div > .download-button{
    display:block;
    position:absolute;
    top:314px;
    right:0;
    border-radius:3px;
    background-color:rgb(252,100,53);
    color:#fff;
    height:75px;
    width:180px;
    box-sizing:border-box;
    padding:12px;
    text-align:center;
    z-index:99;
}

main > div > .download-button div{
    font-size:18px;
    border-bottom:1px solid rgb(248,134,111);
    padding-bottom:6.5px;
    font-family:"PingFangSC-Regular";
}

main > div > .download-button > div > i{
    font-size:16px;
    background-color:#fff;
    color:rgb(252,100,53);
    display:inline-block;
    box-sizing:border-box;
    border:1px solid #fff;
    border-radius:50%;
    margin-right:6px;
    height:18px;
    width:18px;
    padding:0.45px 2px 0.6px 0.13px;
}

main > div > .download-button span{
    font-size:12px;
    text-align:center;
    color:rgb(255,155,130);
    font-family:"PingFangSC-Regular";
}

.mid-intro-list{
    position:relative;
    height:50px;
    width:100%;
    border-bottom:1px solid rgb(130,130,130);
    padding-top:160px;
    margin-top:-160px;
    font-size:18px;
    background-image:linear-gradient(to top,#0d0d0d calc(20%),transparent);
    z-index:9;
}

div.moved-mid-intro-list{
    border-bottom:none;
    z-index:9998;
}

.mid-intro-list > div{
    width:1200px;
    min-width:1200px;
    height:100%;
    margin:0 auto;
    position:relative;
}

.mid-intro-list > div > ul{
    display:flex;
    padding-left:27px;
    align-items:center;
    height:50px;
    min-width:770px;
}

.mid-intro-list > div > a{
    display:inline-block;
    height:30px;
    width:120px;
    background-color:rgb(252,100,53);
    color:#fff;
    font-size:14px;
    padding:7px;
    min-width:120px;
    border-radius:3px;
    box-sizing:border-box;
    position:absolute;
    top:12px;
    right:80px;
    display:flex;
    align-items:center;
}

.mid-intro-list > div > a > img{
    display:inline-block;
    margin-right:5px;
    width:14px;
    height:14px;
}

.mid-intro-list > div > ul > div.inner-line{
    height:50px;
    width:1px;
    background-image:linear-gradient(to top,#303030,transparent);
    margin:0 24px;
}

.mid-intro-list > div > ul > li.select-list{
    display:flex;
    align-items:center;
    color:#bebebe;
    min-width:65px;
    cursor:pointer;
    position:relative;
}

.mid-intro-list > div > ul > li > div:first-child{
    height:25px;
    width:25px;
    margin-right:4px;
}

.mid-intro-list > div > ul > li > div.rectangle{
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:8px solid #fff;
    width:0;
    position:absolute;
    top:21px;
    left:0;
    right:0;
    margin:0 auto;
    z-index:9999;
    height:8px;
    visibility:hidden;
}

.mid-intro-list > div > ul > li > div > img{
    height:100%;
}

.mid-intro-list > div > ul > li.current-select{
    color:rgb(241,64,39);
}

div.main-contents{
    width:1200px;
    min-width:1200px;
    margin:0 auto;
    position:relative;
}

div.contents-container{
    width:843px;
    position:relative;
    left:0;
    top:-1px;
    background-color:#fff;
    z-index:9;
    padding:30px 27px;
    box-sizing:border-box;
    display:none;
}

div.current-content{
    display:block;
}

#details > div.scroll-list{
    height:442px;
    width:789px;
    position:relative;
}

#details > div.scroll-list > div.img-ul-container{
    height:50px;
    width:100%;
    box-sizing:border-box;
    position:absolute;
    bottom:0;
    background-color:rgba(110,110,110,0.8);
    z-index:999;
}

#details > div.scroll-list > div.img-ul-container > ul{
    display:flex;
    line-height:50px;
    justify-content:space-between;
    width:689px;
    position:relative;
}

#details > div.scroll-list > div.img-ul-container > ul > li{
    display:inline-block;
    line-height:50px;
    height:50px;
    width:78px;
    box-sizing:border-box;
    cursor:pointer;
}

#details > div.scroll-list > div.img-ul-container > ul > li > img{
    width:100%;
    filter:brightness(80%);
}

#details > div.scroll-list > div.img-ul-container > ul > li:first-child::before{
    content:"";
    background-image:url("./imags/23.png");
    background-size:20px;
    display:inline-block;
    height:20px;
    width:20px;
    position:absolute;
    left:29px;
    top:15px;
    z-index:999;
}

#details > div.scroll-list > div.img-ul-container > ul > li > img.current-listimg{
    filter:brightness(100%);
}

#details .video-container{
    position:absolute;
    top:30px;
    left:27px;
    z-index:99;
    box-sizing:border-box;
}

#details video{
    width:789px;
    height:442px;
}

#details .video-info-area{
    width:100%;
    position:absolute;
    left:0;
    bottom:60px;
    padding:30px 17px 5px;
    box-sizing:border-box;
    transition:all 0.5s linear;
    opacity:0;
}

#details .video-info-area > .control-list{
    display:flex;
    justify-content:space-between;
}

#details .video-info-area > .control-list > .left-button{
    display:flex;
    align-items:center;
    font-size:14px;
    color:#fff;
    height:32px;
}

#details .video-info-area > .control-list img{
    display:inline-block;
    height:32px;
    width:32px;
    cursor:pointer;
}

#details .video-info-area > .control-list > .left-button > span.current-time{
    margin:0 3px 0 5px;
}

#details .video-info-area > .control-list > .left-button > span.total-time{
    margin-left:3px;
}

#details .video-info-area > .control-list > .right-button{
    height:32px;
    display:flex;
    align-items:center;
}

#details .video-info-area > .control-list > .right-button .volume-list{
    height:32px;
    width:82px;
    padding:14px 0;
    margin:0 7px 0 0;
    box-sizing:border-box;
    position:relative;
    z-index:1;
    cursor:pointer;
    display:none;
}

#details .video-info-area > .control-list > .right-button  .volume-list::before{
    content:"";
    background-color:#ababab;
    display:inline-block;
    height:4px;
    width:100%;
    border-radius:2px;
    position:absolute;
    top:14px;
}

#details .video-info-area > .control-list > .right-button .volume-list > #volume-circle{
    border-radius:50%;
    background-color:#fff;
    height:12px;
    width:12px;
    position:absolute;
    left:-6px;
    top:10px;
    z-index:9;
}

#details .video-info-area > .control-list > .right-button .volume-list > #volume-inner{
    border-radius:2px;
    background-color:#fff;
    height:4px;
    position:absolute;
    z-index:9;
}

#details .video-info-area #progress-bar{
    margin-top:15px;
    height:4px;
    width:100%;
    background-color:#ababab;
    border-radius:2px;
    cursor:pointer;
}

#details .video-info-area #progress-bar > #progress-percent{
    height:100%;
    background-color:#fff;
    width:50%;
    border-radius:2px;
}

#details > ul > li > img{
    height:442px;
    width:789px;
    position:absolute;
    opacity:0;
    top:30px;
    left:27px;
    transition:all 1s ease;
}

#details > ul > li > img.current-bkimg{
    opacity:1;
}

#details > .download-url{
    margin-top:60px;
    width:789px;
}

#details > .download-url > div > a.adownload{
    color:#333333;
    font-size:14px;
    line-height:24px;
    position:relative;
    display:block;
    margin:20px;
}

#details > .download-url > div > a.adownload::before{
    font-family:"Font Awesome 6 Free";
    content:"\f11b";
    font-weight:900;
    display:inline-block;
    width:24px;
    height:24px;
    font-size:24px;
    color:rgb(227,166,49);
    position:absolute;
    left:0px;
    top:-2px;
}

#details > .download-url > div > a.adownload::after{
    font-family:"Font Awesome 6 Free";
    content:"\f105";
    font-weight:700;
    color:#999999;
    position:absolute;
    right:0;
}

#details > .game-ency{
    margin-top:60px;
    width:789px;
    position:relative;
}

.zoom-text{
    overflow:hidden;
}

h4{
    font-size:20px;
    margin-bottom:20px;
    font-weight:700;
    position:relative;
    left:12px;
}

h4:before{
    content:"";
    height:20px;
    width:6px;
    background-color:#F14027;
    display:inline-block;
    margin-right:6px;
    position:absolute;
    left:-12px;
    top:3px;
}

#details > .game-ency p{
    width:690px;
    margin-bottom:17px;
    line-height:26px;
    font-size:16px;
    color:#666666;
}

#details > .game-ency > div.nav-bar{
    width:100px;
    position:absolute;
    top:43px;
    right:0;
    height:244px;
}

#details > .game-ency > div.nav-bar > ul{
    height:218px;
    overflow:scroll;
}

#details > .game-ency > div.nav-bar > div{
    height:16px;
    width:16px;
    background-image:url("./imags/76.png");
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
}

#details > .game-ency > div.nav-bar > ul::-webkit-scrollbar{
    display:none;
}

#details > .game-ency > div.nav-bar > ul > li:not(:last-child){
    margin-bottom:22px;
}

#details > .game-ency > div.nav-bar > ul > li{
    position:relative;
    left:25px;
}

#details > .game-ency > div.nav-bar > ul > li:not(:last-child):after{
    content:"";
    display:block;
    height:20px;
    width:2px;
    background-color:rgb(188,188,188);
    position:absolute;
    top:19px;
    left:8px;
}

#details > .game-ency > div.nav-bar > ul > li > a{
    font-size:12px;
    color:#666;
    display:flex;
    box-sizing:border-box;
    width:75px;
}

#details > .game-ency > div.nav-bar > ul > li > a > div{
    margin-right:9px;
    height:18px;
    width:18px;
    background-image:url("./imags/56.png");
    background-size:14px;
    background-repeat:no-repeat;
    background-position-x:50%;
    background-position-y:40%;
}

#details > .game-ency > div.nav-bar > ul > li > a.current-tag{
    color:#F14027;
}

#details > .game-ency > div.nav-bar > ul > li > a.current-tag > div{
    content:url("./imags/55.png");
    background-size:12px;
}

#details > .game-ency > ul{
    width:789px;
    box-sizing:border-box;
    margin:0 auto;
}

#details > .game-ency > ul > li{
    width:690px;
    margin-bottom:17px;
    box-sizing:border-box;
    font-size:18px;
    font-weight:700;
    color:#000000;
    list-style-type:initial;
    text-indent:-6px;
    margin-left:20px;
}

#details > .game-ency > div:last-child{
    width:690px;
    /* height:54px; */
    box-sizing:border-box;
    padding-top:20px;
    box-shadow:0 -20px 30px white;
    position:relative;
    z-index:9;
}

#details > .game-ency > div:last-child > div{
    height:100%;
    margin:0 auto;
    width:160px;
    box-sizing:border-box;
    border:1px solid #e6e6e6;
}

#details > .game-ency > div:last-child > div.anewstyle{
    height:28px;
    width:60px;
    position:absolute;
    right:-80px;
    top:-60px;
    border:none;
}

#details > .game-ency > div:last-child > div > a{
    font-size:12px;
    color:#666666;
    text-align:center;
    display:flex;
    line-height:34px;
    align-items:center;
    justify-content:center;
}

#details > .game-ency > div:last-child > div > a > div{
    display:inline-block;
    height:12px;
    width:12px;
    margin-left:3px;
    background-image:url("./imags/76.png");
    background-size:cover;
    transform:rotateZ(180deg);
}

#details > .developer-words{
    margin-top:40px;
    width:789px;
}

#details > .developer-words > div:not(:last-child){
    margin-top:31px;
    padding:30px;
}

#details > .developer-words > div > p{
    font-size:16px;
    color:#666666;
    margin:16px 0;
}

#details > .developer-words > div > div{
    margin-top:10px;
    text-align:right;
    font-size:16px;
    color:#666666;
}

#details > .developer-words > div > div > span{
    margin-left:5px;
    color:#333333;
}

#details > .developer-words > div:last-child{
    width:789px;
    height:54px;
    box-sizing:border-box;
    padding-top:20px;
    box-shadow:0 -30px 30px white;
    position:relative;
    z-index:9;
}

#details > .developer-words > div:last-child > div{
    height:100%;
    margin:0 auto;
    width:160px;
    box-sizing:border-box;
    border:1px solid #e6e6e6;
}

#details > .developer-words > div:last-child > div > a{
    font-size:12px;
    color:#666666;
    text-align:center;
    display:block;
    line-height:34px;
}

#details > .new-updates > div{
    font-size:16px;
    line-height:26px;
    width:100%;
    color:#333333;
    position:relative;
}

#details > .super-player{
    height:238px;
    margin-top:60px;
    width:100%;
}

#details div.player-info{
    height:48px;
    width:100%;
    display:flex;
    align-items:center;
}

#details div.player-info > a > img{
    display:block;
    height:46px;
    width:46px;
    background-size:cover;
    margin-right:18px;
    border-radius:50%;
    cursor:pointer;
}

#details div.player-info > div{
    height:34px;
    margin:auto 0;
    position:relative;
}

#details div.player-info > div > a:first-child{
    font-size:16px;
    display:inline-block;
    line-height:16px;
    vertical-align:top;
    color:#333333;
    vertical-align:super;
}

#details div.player-info > div > img{
    display:inline-block;
    height:16px;
    width:15px;
    background-size:cover;
    margin-left:5px;
    vertical-align:top;
    cursor:pointer;
}

#details div.player-info > div > div.hide-slice{
    font-size:14px;
    line-height:14px;
    padding:6px 22px;
    border-radius:4px;
    background-color:rgba(51, 51, 51, .95);
    border:1px solid #484848;
    color:#fff;
    position:absolute;
    top:23px;
    left:12px;
    box-sizing:border-box;
    text-wrap:nowrap;
    transition:opacity 0.2s ease;
    transition:top 0.2s ease;
    visibility:hidden;
    opacity:0;
}

#details div.player-info > div > div.hide-slice:before{
    content:"";
    display:block;
    border:4px solid transparent;
    border-bottom:8px solid rgba(51, 51, 51, .95);
    position:absolute;
    top:-12px;
    left:48px;
    z-index:99;
}

#details div.player-info > div > img:hover + div{
    visibility:visible;
    top:26px;
    opacity:1;
}

#details div.player-info > div > a:last-child{
    font-size:12px;
    color:#999999;
    line-height:16px;
    display:block;
    margin-top:-2px;
    cursor:pointer;
}

#details div.player-content{
    width:100%;
    padding-left:64px;
    margin-top:4px;
    box-sizing:border-box;
}

#details div.player-content > div:not(.common) > span{
    font-size:16px;
    color:#F14027;
    margin-right:10px;
}

#details div.player-content > div:not(.common) > span > span{
    font-size:20px;
    margin-left:3px;
}

#details div.player-content > div:not(.common) > a{
    display:inline-block;
    font-size:14px;
    color:#666666;
    padding:0 10px;
    margin:0 12px 10px 0;
    border-radius:5px;
    line-height:26px;
}

#details div.player-content > div:not(.common) > a:hover{
    background-color:rgb(239,239,239);
}

#details div.player-content > div.common{
    display:flex;
}

#details div.player-content > div.common > a > img{
    display:inline-block;
    height:100px;
    width:150px;
    margin-right:10px;
    cursor:pointer;
}

#details div.player-content > div.common > div > a:first-child{
    font-size:18px;
    line-height:26px;
    font-weight:700;
    color:#333333;
    cursor:pointer;
    display:block;
}

#details div.player-content > div.common > div > a:nth-child(2){
    font-size:14px;
    line-height:22px;
    height:44px;
    color:#666666;
    margin-top:4px;
    cursor:pointer;
    display:block;
}

#details div.player-content > div.common > div > div{
    height:18px;
    margin-top:9px;
    display:flex;
    justify-content:space-between;
}

#details div.player-content > div.common > div > div > span{
    font-size:13px;
    color:#9195A3;
    line-height:18px;
}

#details div.player-content > div.common > div > div > div > div > span{
    font-size:13px;
    color:#333333;
    line-height:17px;
    display:inline-block;
    vertical-align:top;
}

#details div.player-content > div.common > div > div > div > div:first-child::before{
    content:"";
    display:inline-block;
    height:16px;
    width:16px;
    margin-right:5px;
    background-image:url("./imags/67.png");
    background-size:cover;
}

#details div.player-content > div.common > div > div > div > div:last-child::before{
    content:"";
    display:inline-block;
    height:16px;
    width:16px;
    margin-right:5px;
    margin-left:19px;
    background-image:url("./imags/68.png");
    background-size:cover;
}

#details > div.gods-words{
    width:100%;
    margin-top:60px;
}

#details > div.gods-words > div.gods-words-container{
    width:100%;
    margin-bottom:30px;
}

div > span.zoom-button{
    display:block;
    font-size:16px;
    color:#3388FF;
    cursor:pointer;
    height:26px;
    position:absolute;
    bottom:0;
    right:0;
}

#videos > div.order-type{
    height:14px;
    width:100%;
    margin:6px 0 20px;
    display:flex;
    align-items:center;
    position:relative;
}

#videos > div.order-type > a{
    font-size:14px;
    color:#666666;
    display:block;
    line-height:100%;
}

#videos > div.order-type > a:first-child{
    color:#F14027;
}

#videos > div.order-type > a:hover{
    color:#F14027;
}

#videos > div.order-type > div{
    height:100%;
    width:1px;
    background-color:#CCCCCC;
    margin:0 8px;
}

#videos > div.order-type > i{
    display:inline-block;
    height:16px;
    width:16px;
    font-size:14px;
    color:#666666;
    position:absolute;
    top:0px;
    right:150px;
    z-index:99;
}

#videos > div.order-type > input{
    line-height:26px;
    width:175px;
    box-sizing:border-box;
    border:1px solid #ccc;
    border-radius:2px;
    padding:0 31px;
    color:#666666;
    position:absolute;
    right:0;
    outline:none;
}

#videos > div.video-content{
    width:789px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

#videos > div.video-content > div.video-box{
    height:185px;
    width:247px;
    margin-bottom:30px;
    box-sizing:border-box;
}

#videos > div.video-content > div.video-box > a > div.img-container{
    height:138px;
    width:247px;
    overflow:hidden;
    position:relative;
}

#videos > div.video-content > div.video-box > a > div.img-container > img{
    transition:0.5s ease;
    height:100%;
}

#videos > div.video-content > div.video-box > a > div.img-container::before{
    content:"";
    background-image:url("./imags/23.png");
    background-size:38px;
    display:inline-block;
    height:38px;
    width:38px;
    position:absolute;
    left:104.5px;
    top:50px;
    z-index:99;
    visibility:hidden;
}

#videos > div.video-content > div.video-box > a > div.img-container > div.video-data{
    line-height:17px;
    width:240px;
    margin:1px 3px;
    box-sizing:border-box;
    position:absolute;
    bottom:0;
    display:flex;
    justify-content:space-between;
    font-size:14px;
}

#videos > div.video-content > div.video-box > a > div.img-container > div.video-data > div{
    display:flex;
    color:#fff;
}

#videos > div.video-content > div.video-box > a > div.img-container > div.video-data > div > div.view-num{
    margin-right:4px;
}

#videos > div.video-content > div.video-box > a > div.img-container > div.video-data > div > div.view-num::before{
    content:"";
    background-image:url("./imags/57.png");
    background-size:cover;
    display:inline-block;
    height:12px;
    width:12px;
    margin-right:2px;
    margin-bottom:-1px;
}

#videos > div.video-content > div.video-box > a > div.img-container > div.video-data > div > div.like-num::before{
    content:"";
    background-image:url("./imags/58.png");
    background-size:cover;
    display:inline-block;
    height:12px;
    width:12px;
    margin-right:2px;
}

#videos > div.video-content > div.video-box > a > div.img-container > div.video-data > div.duration{
    border-radius:8px;
    color:rgba(255,255,255,0.5);
    background-color:rgba(0,0,0,0.5);
    padding:0 5px;
    font-size:12px;
}

#videos > div.video-content > div.video-box > a > div.img-container > div.video-data > div.duration::before{
    content:"";
    background-image:url("./imags/59.png");
    background-size:cover;
    display:inline-block;
    height:12px;
    width:12px;
    margin-right:2px;
    margin-top:2px;
}

#videos > div.video-content > div.video-box > a > span.title{
    margin:10px 0;
    font-size:14px;
    display:inline-block;
    line-height:18px;
    width:100%;
    color:#333333;
    overflow:hidden;
    text-overflow:ellipsis;
    text-wrap:nowrap;
}

#videos > div.video-content > div.video-box > a:hover > span.title{
    color:#F14027;
}

#videos > div.video-content > div.video-box > a:hover > div.img-container::before{
    visibility:visible;
}

#videos > div.video-content > div.video-box > a:hover > div.img-container > img{
    transform:scale(1.2);
    filter:brightness(0.3);
}

#videos > div.video-content > div.video-box > a:hover > div.img-container > div.video-data{
    filter:brightness(0.3);
}

#videos > div.video-content > div.video-box > div.info-bottom{
    line-height:12px;
    font-size:12px;
    width:100%;
    display:flex;
    justify-content:space-between;
    color:#999999;
}

ul.page-list{
    margin-top:40px;
    height:24px;
    display:flex;
    align-items:center;
    justify-content:center;
}

ul.page-list > li{
    line-height:24px;
    box-sizing:border-box;
    border:1px solid #edeff5;
    min-width:28px;
    font-family:"Arial";
    text-align:center;
    font-size:14px;
    margin-right:8px;
    border-radius:2px;
    color:#666;
    padding:0 9px;
    cursor:pointer;
}

ul.page-list > li:hover{
    background-color:rgb(237,239,245);
}

ul.page-list > li.current-page{
    background-color:#F14027;
    color:#fff;
}

ul.page-list > li.change-button{
    background-color:#F14027;
    color:#fff;
}

ul.page-list > li.change-button:not(.banned-button):hover{
    filter:brightness(90%);
}

ul.page-list > li.banned-button{
    cursor:not-allowed;
    background-color:#fff;
    color:#edeff5;
    border:1px solid #edeff5;
}

ul.page-list > li.jumpafter,
ul.page-list > li.jumpbefore{
    border:none;
    font-weight:900;
}

ul.page-list > div{
    font-size:14px;
    color:#666666;
    height:28px;
    width:100px;
    margin-left:8px;
}

ul.page-list > div > input{
    height:24px;
    width:42px;
    padding-left:8px;
    margin:0 8px;
    box-sizing:border-box;
    outline:none;
    border:1px solid #edeff5;
}

#evaluations > div.total-score{
    width:100%;
    position:relative;
}

#evaluations > div.total-score > div > a{
    display:block;
    position:absolute;
    top:0;
    right:0;
    background-color:#F14027;
    line-height:28px;
    width:66px;
    color:#ffffff;
    text-align:center;
    font-size:12px;
    border-radius:3px;
}

#evaluations > div.total-score > div > a:hover{
    background-color:rgb(216,57,35);
}

#evaluations > div.total-score > div.show-box{
    width:100%;
    display:flex;
    height:71px;
    align-items:center;
    margin-top:56px;
}

#evaluations > div.total-score > div.show-box > div.score{
    font-size:54px;
    line-height:54px;
    color:#F14027;
    margin-right:32px;
    font-weight:700;
}

#evaluations > div.total-score > div.show-box > div.stars{
    height:72px;
    width:64px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    box-sizing:border-box;
}

#evaluations > div.total-score > div.show-box > div.stars > i::before{
    font-size:10px;
    display:block;
    height:12px;
    width:12px;
}

#evaluations > div.total-score > div.show-box > div.star-lines{
    height:72px;
    width:440px;
    margin:0 25px 0 10px;
    display:flex;
    flex-wrap:wrap;
    box-sizing:border-box;
}

#evaluations > div.total-score > div.show-box > div.star-lines div{
    border-radius:3px;
    height:6px;
    margin-top:1.5px;
}

#evaluations > div.total-score > div.show-box > div.player-like{
    height:72px;
    box-sizing:border-box;
    border-left:1px solid #DEDEDE;
    text-align:right;
}

#evaluations > div.total-score > div.show-box > div.player-like > span:first-child{
    font-size:14px;
    line-height:14px;
    display:inline-block;
    text-align:right;
    margin-bottom:4px;
    color:#666666;
}

#evaluations > div.total-score > div.show-box > div.player-like > span:last-child{
    font-size:30px;
    display:inline-block;
    line-height:30px;
    text-align:right;
    color:#333333;
    font-weight:700;
}

#evaluations > div.total-score > div.user-score{
    font-size:16px;
    color:#333333;
    margin-top:6px;
    height:16px;
    display:flex;
    align-items:center;
}

#evaluations > div.total-score > div.user-score::after{
    content:"";
    background-image:url("./imags/66.png");
    background-size:cover;
    height:16px;
    width:16px;
    display:inline-block;
    margin-left:4px;
}

#evaluations > div.main-wrap{
    width:100%;
    margin-top:20px;
}

#evaluations > div.main-wrap > div.cmt-top-area{
    height:28px;
    margin-bottom:18px;
    display:flex;
    justify-content:space-between;
}

#evaluations > div.main-wrap > div.cmt-top-area > span{
    font-size:14px;
    font-weight:700;
    color:#333;
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select{
    display:flex;
    height:28px;
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div{
    box-sizing:border-box;
    border:1px solid rgb(204,204,204);
    margin-left:20px;
    cursor:pointer;
    border-radius:2px;
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div > span{
    font-size:14px;
    color:#666;
    line-height:100%;
    padding:0 10px;
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div > span::after{
    content:"\f107";
    font-family:"Font Awesome 6 Free";
    font-weight:900;
    margin-left:5px;
    display:inline-block;
    line-height:14px;
    width:14px;
    color:rgb(204,204,204);
    transition:all 0.3s ease;
    text-align:center;
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div > div{
    background-color:rgba(255,255,255,1);
    margin-top:6px;
    visibility:hidden;
    opacity:0;
    transition:all 0.5s ease;
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div > div > ul{
    box-sizing:border-box;
    border:1px solid rgb(204,204,204);
    border-radius:2px;
    transform:all 1s ease;
    background-color:#fff;
    position:relative;
    top:-3px;
    cursor:pointer;
    z-index:99;
    transition:all 0.5s ease;
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div > div > ul > li > span{
    font-size:14px;
    color:#666;
    margin:0 20px;
    line-height:26px;
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div:hover > span::after{
    transform:translateY(-2px) rotateZ(-180deg);
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div:hover > div{
    visibility:visible;
    opacity:1;
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div:hover > div > ul{
    transform:translateY(6px);
}

#evaluations > div.main-wrap > div.cmt-top-area > div.sort-select > div > div > ul > li:hover{
    background-color:rgb(245,245,245);
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container{
    width:100%;
    margin-bottom:43px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container  div.cmt-unit,
#evaluations > div.main-wrap > div.comment-list > div.comment-container  div.main-cmt-unit{
    width:100%;
    display:flex;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container img.icon{
    display:inline-block;
    width:46px;
    height:46px;
    border-radius:50%;
    margin-right:18px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container  div.main > div.main-1{
    height:13px;
    font-size:13px;
    font-weight:700;
    color:#333333;
    display:flex;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-1 .commentAuthorName{
    margin-right:6px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-1 > div.cmt-stars{
    height:10px;
    width:50px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-1 > div.cmt-stars > i::before{
    font-size:7px;
    margin:0 -1px;
    vertical-align:middle;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-2{
    width:100%;
    font-size:14px;
    margin:12px 0 16px;
    color:#000;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-2 > .prev-content{
    font-weight:700;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-3{
    height:16px;
    width:100%;
    display:flex;
    font-size:13px;
    justify-content:space-between;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-3 > span{
    color:#9195A3;
    line-height:16px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-3 > div{
    height:16px;
    display:flex;
    align-items:center;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-3 > div > div.praise > img{
    display:inline-block;
    height:16px;
    width:16px;
    margin-right:5px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-3 > div > div.trample > img{
    display:inline-block;
    height:16px;
    width:16px;
    transform:rotateZ(180deg);
    margin-right:5px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-3 > div > div.praise{
    cursor:pointer;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-3 > div > div.trample{
    cursor:pointer;
    margin-left:17px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.main > div.main-3 > div span{
    color:#333333;
    height:16px;
    display:inline-block;
    position:relative;
    top:-2px;
    right:0;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container  div.main > div.main-3 > div > div{
    height:16px;
    width:auto;
    margin-left:17px;
    cursor:pointer;
    display:flex;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container  div.main > div.main-3 > div > div > img{
    width:16px;
    display:inline-block;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container > div.cmt-sub{
    width:725px;
    padding:33px 0 0 64px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container > div.cmt-sub > .cmt-unit:not(:first-child){
    padding-top:33px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container > div.cmt-sub > div.cmt-botton-btns{
    width:661px;
    padding:33px 0 0 64px;
    display:flex;
    justify-content:space-between;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container > div.cmt-sub > div.cmt-botton-btns > div.for-more{
    font-size:13px;
    color:#333333;
    position:relative;
    cursor:pointer;
}

.no-enough-replay{
    visibility:hidden;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container > div.cmt-sub > div.cmt-botton-btns > div.for-more::after{
    content:"";
    display:inline-block;
    height:12px;
    width:12px;
    background-image:url("./imags/76.png");
    background-size:cover;
    position:absolute;
    top:3px;
    right:-17px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container > div.cmt-sub > div.cmt-botton-btns > div.joinit{
    font-size:12px;
    color:#333333;
    border:1px solid #e3e3e3;
    height:28px;
    width:90px;
    cursor:pointer;
    text-align:center;
    line-height:28px;
    box-sizing:border-box;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.replay-container{
    width:100%;
    box-sizing:border-box;
    margin-top:18px;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.replay-container > textarea{
    width:100%;
    height:94px;
    border-radius:6px;
    outline:none;
    border:1px solid #e1e2e6;
    padding:12px 16px;
    box-sizing:border-box;
    font-size:13px;
    line-height:21px;
    resize:none;
}

#evaluations > div.main-wrap > div.comment-list > div.comment-container div.replay-container > div{
    font-size:12px;
    font-weight:700;
    height:28px;
    width:68px;
    background-color:#f14027;
    border-radius:3px;
    text-align:center;
    line-height:28px;
    color:#fff;
    margin:12px 0 0 auto;
    padding:0;
    cursor:pointer;
}

#evaluations > div.more-evaluation-button{
    width:789px;
    height:54px;
    box-sizing:border-box;
    padding-top:20px;
    position:relative;
    top:-30px;
    z-index:9;
}

#evaluations > div.more-evaluation-button > div{
    height:100%;
    margin:0 auto;
    width:160px;
    box-sizing:border-box;
    border:1px solid #e6e6e6;
}

#evaluations > div.more-evaluation-button > div > a{
    font-size:12px;
    color:#666666;
    text-align:center;
    display:block;
    line-height:34px;
}

#questions{
    height:600px;
    overflow:hidden;
}

#questions > .qa-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
    height:20px;
}

#questions > .qa-header > span{
    font-size:12px;
    color:#666666;
    line-height:100%;
    cursor:pointer;
}

#questions > .qa-header > span::after{
    font-family:"Font Awesome 6 Free";
    content:"\f105";
    font-weight:700;
    color:#999999;
    margin-left:3px;
}

#questions > .qa-header > span:hover,
#questions > .qa-header > span:hover::after{
    color:#f14027;
}

#questions div.qa-container{
    margin-bottom:27px;
    border-top:1px solid #f0f0f0;
    padding-top:20px;
}

#questions .qa-container:nth-child(2){
    border-top:10px;
}

#questions div.qa-container > a.title{
    display:block;
    font-size:18px;
    margin-bottom:5px;
    line-height:22px;
    cursor:pointer;
    color:#333333;
    font-weight:500;
}

#questions div.qa-container > div.card-brows{
    font-size:14px;
    color:#999999;
    margin-bottom:17px;
    height:16px;
    width:100%;
    display:flex;
}

#questions div.qa-container > div.card-brows > div{
    width:1px;
    height:100%;
    margin:2px 10px 0;
    background-color:#999999;
}

#questions div.qa-container > div.author-info{
    height:24px;
    margin-bottom:10px;
    display:flex;
    align-items:center;
}

#questions div.qa-container > div.author-info > img:first-child{
    display:inline-block;
    height:24px;
    width:24px;
    border-radius:50%;
}

#questions div.qa-container > div.author-info > span{
    display:inline-block;
    line-height:20px;
    font-size:16px;
    color:#333333;
    margin:0 6px;
}

#questions div.qa-container > div.author-info > img:last-child{
    display:inline-block;
    height:18px;
    width:18px;
}

#questions div.qa-container > a.main-content > div{
    height:100px;
    margin-bottom:10px;
    width:100%;
    display:flex;
}

#questions div.qa-container > a.main-content > div > img{
    display:block;
    height:100px;
    width:150px;
    margin-right:10px;
}

#questions div.qa-container > a.main-content > div >  p{
    height:63px;
    width:629px;
    font-size:14px;
    color:#333333;
    text-overflow:ellipsis;
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    line-height:22px;
    margin-top:-2px;
}

#questions div.qa-container > div.bot-nav{
    height:18px;
    display:flex;
    justify-content:space-between;
}

#questions div.qa-container > div.bot-nav > span{
    font-size:14px;
    color:#999999;
    display:inline-block;
    line-height:18px;
}

#questions div.qa-container > div.bot-nav > div{
    line-height:18px;
    display:flex;
    font-size:13px;
    color:#333333;
    align-items:center;
}

#questions div.qa-container > div.bot-nav > div > div:not(:nth-child(2)){
    cursor:pointer;
}

#questions div.qa-container > div.bot-nav > div > div.praise > img{
    display:inline-block;
    height:16px;
    width:16px;
    margin-right:5px;
}

#questions div.qa-container > div.bot-nav > div > div.trample > img{
    display:inline-block;
    height:16px;
    width:16px;
    transform:rotateZ(180deg);
    margin-right:5px;
}

#questions div.qa-container > div.bot-nav > div > div > span{
    color:#333333;
    height:16px;
    display:inline-block;
    position:relative;
    top:-2px;
    right:0;
}

#questions div.qa-container > div.bot-nav > div > div:nth-child(2){
    width:2px;
    height:8px;
    background-color:#999999;
    opacity:0.4;
    margin:-2px 10px 0 10px;
}


.more-information{
    width:333px;
    height:763px;
    position:absolute;
    top:0;
    right:0;
    background-color: #fff;
    z-index:999;
    background-image:url("./imags/14.png");
    background-size:333px;
    background-repeat:no-repeat;
    padding:30px 27px 24px;
    box-sizing:border-box;
}

.more-information span,
.more-information p.span-set{
    font-size:14px;
    color:#999999;
}

.more-information p{
    font-size:14px;
    color:#333333;
}

.more-information > h3{
    font-size:20px;
    margin-bottom:20px;
}

.more-information > h3:first-child::before{
    content:"";
    background-image:url("./imags/9.png");
    background-size:20px;
    background-position-y:2px;
    height:20px;
    width:20px;
    background-repeat:no-repeat;
    display:inline-block;
    margin-right:6px;
}

.more-information > a{
    display:block;
    font-size:14px;
}

.more-information > a.aweb{
    padding:28px 0 12px;
    border-bottom:1px solid rgb(240,240,240);
    color:#333333;
}

.more-information > a.aweibo{
    padding:13px 0 12px;
    color:#333333;
}

.more-information > a.aweb::before{
    font-family:"Font Awesome 6 Free";
    content:"\f015";
    font-weight:900;
    margin-right:10px;
    display:inline-block;
    width:19px;
    height:19px;
    color:#999999;
}

.more-information > a.aweibo::before{
    content:"\f18a";
    font-family:"Font Awesome 6 Brands";
    font-weight:900;
    margin-right:10px;
    display:inline-block;
    width:19px;
    height:19px;
    color:#999999;
}

.more-information > a.aweb::after{
    font-family:"Font Awesome 6 Free";
    content:"\f105";
    font-weight:700;
    margin-left:185px;
    color:#999999;
}

.more-information > a.aweibo::after{
    content:"\f105";
    font-family:"Font Awesome 6 Free";
    font-weight:700;
    margin-left:185px;
    color:#999999;
}

.more-information > a.aweb:hover,
.more-information > a.aweibo:hover{
    color:rgb(241,64,39);
}

.more-information > a.aPC{
    line-height:26px;
    width:50px;
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding:0 6px 0 0;
    box-sizing:border-box;
    margin-bottom:12px;
}

.more-information > a.aPC > i.fa-desktop{
    font-size:12px;
    margin:0 6px;
}

.more-information > p.mid-text{
    margin-bottom:10px;
}

.more-information > div:not(:last-child){
    height:1px;
    width:279px;
    background-color:rgb(240,240,240);
    margin:20px 0;
}

.more-information > a.aWin{
    line-height:26px;
    width:91px;
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding:0 6px 0 0;
    box-sizing:border-box;
    margin-bottom:12px;
}

.more-information > a.aWin > i.fa-windows{
    font-size:12px;
    margin:0 6px;
}

.more-information > div:last-child{
    overflow:hidden;
    height:84px;
    position:relative;
} 

.more-information > div:last-child > p{
    line-height:21px;
}

.background-content{
    width:100%;
    height:100%;
    background-image:linear-gradient(to bottom,#0d0d0d calc(5%),transparent);
    position:absolute;
    top:612px;
    z-index:1;
}

.bottom-text{
    width:100%;
    min-width:1200px;
    height:120px;
    box-sizing:border-box;
    padding:40px 0;
    background-color:#333333;
    font-size:12px;
    color: #c6c6ca;
    text-align:center;
    position:relative;
    z-index:99;
    margin-top:30px;
}

.bottom-text > a:not(:first-child),
.bottom-text > span{
    margin-left:15px;
}

.bottom-text a{
    text-decoration:none;
    color:#c6c6ca;
}

.bottom-text a:hover{
    text-decoration:underline;
}

.bottom-text > ul{
    display:flex;
    margin:0 auto;
    width:570px;
    margin:16px auto 0 auto;
}

.bottom-text > ul > div{
    width:1px;
    height:10px;
    margin:auto 10px;
    background-color:#c6c6ca;
}

#write-evaluations-container{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    visibility:hidden;
}

.eva-container{
    height:440px;
    width:600px;
    box-sizing:border-box;
    padding:16px 24px 30px;
    position:relative;
    background-color:#fff;
}

.eva-container > h2{
    font-size:22px;
    color:#333333;
}

.eva-container > #quit-eva{
    display:block;
    height:15px;
    width:15px;
    position:absolute;
    top:12px;
    right:16px;
    cursor:pointer;
    transition:transform 0.5s ease;
}

.eva-container > #quit-eva:hover{
    transform:rotateZ(180deg);
}

.eva-stars{
    margin:30px 0;
    width:100%;
    display:flex;
    align-items:center;
}

.eva-stars > i{
    color:rgba(202,202,202,0.4);
    display:block;
    height:32px;
    width:32px;
    font-size:32px;
    margin:6px;
    cursor:pointer;
}

.eva-stars > #star-words{
    font-size:16px;
    margin-left:50px;
    color:#333333;
}

#myeva{
    box-sizing:border-box;
    padding:12px 16px 20px;
    border-radius:12px;
    border:1px solid #e1e2e6;
    width:552px;
    height:226px;
    resize:none;
    outline:none;
    font-size:13px;
}

.text-count{
    font-size:13px;
    color:#999999;
    position:absolute;
    right:36px;
    bottom:70px;
}

#eva-replay{
    font-size:12px;
    font-weight:700;
    height:28px;
    width:68px;
    background-color:#f14027;
    border-radius:3px;
    text-align:center;
    line-height:28px;
    color:#fff;
    margin:12px 0 0 auto;
    padding:0;
    cursor:pointer;
}